<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta chartset="UTF-8">
	<title>Eduardo Examen</title>
	<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>

	<div class="container">
		<br>
		<div>
			<a href="/save/0" class="btn btn-primary">Crear Pedido</a>
		</div>
		
		<h2 th:if="${listaPedidos.isEmpty()}">No hay pedidos</h2>
			<div th:if="${!listaPedidos.isEmpty()}">
				<h2>Información de pedidos</h2>
				<table class="table">
					<thead>
						<tr>
							<th>ID</th>
							<th>PRODUCTO</th>
							<th>SKU</th>
							<th>TOTAL</th>
							<th>PRECIO</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="pedido : ${listaPedidos}">
							<td th:text="${pedido.id}">
							<td th:text="${pedido.producto}">
							<td th:text="${pedido.sku}">
							<td th:text="${pedido.cantidad}">
							<td th:text="${'$ ' + pedido.price}">
							<td><a th:href="@{/save/{id}(id=${pedido.id})}">Editar</a></td>
							<td><a th:href="@{/delete/{id}(id=${pedido.id})}">Eliminar</a></td>
						</tr>
					</tbody>
				</table>
			
			</div>
		
		
	</div>
	

</body>
</html>