<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta chartset="UTF-8">
	<title>Eduardo Examen</title>
	<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>

	<div class="container">
	<br>
	<h2>Pedidos</h2>
		<form action="#" th:action="@{/save}" class="form-group" th:object="${pedidos}" method="POST">
		
			<div class="form-group">
				<label for="producto">PRODUCTO</label>
				<input type="text" class="form-control" id="producto" th:field="*{producto}" name="producto">
			</div>
			<input type="hidden" th:field="*{id}" name="" id="id">
			<div class="form-group">
				<label for="sku">SKU</label>
				<input type="text" class="form-control" id="sku" th:field="*{sku}" name="sku">
			</div>
			
			<div class="form-group">
				<label for="cantidad">CANTIDAD</label>
				<input type="text" class="form-control" id="cantidad" th:field="*{cantidad}" name="cantidad">
			</div>
			
			<div class="form-group">
				<label for="price">PRECIO</label>
				<input type="text" class="form-control" id="price" th:field="*{price}" name="price">
			</div>
			
			<button type="submit" class="btn btn-success">Guardar</button>
		
		</form>
		
		<button th:action="@{/}" class="btn btn-success">Regresar</button>
	
	</div>
	

</body>
</html>